@model Kayla_Blog.Models.BlogPost

@{
    ViewBag.Title = "Delete";
}

<h3 class="text-center youSure">Are you sure you want to delete this?</h3>
<div class="container-fluid">
    <hr />
    <dl class="dl-horizontal">
		<div class="row firstOne">
            <div class="col-6 text-right">
				<dt>
					@Html.DisplayNameFor(model => model.Created)
				</dt>
            </div>
            <div class="col-6">
				<dd>
					@Html.DisplayFor(model => model.Created)
				</dd>
            </div>
		</div>
        <div class="row">
            <div class="col-6 text-right">
				<dt>
					@Html.DisplayNameFor(model => model.Updated)
				</dt>
            </div>
            <div class="col-6">
				<dd>
					@Html.DisplayFor(model => model.Updated)
				</dd>
            </div>
		</div>
        <div class="row">
            <div class="col-6 text-right">
				<dt>
					@Html.DisplayNameFor(model => model.Title)
				</dt>
            </div>
            <div class="col-6">
				<dd>
					@Html.DisplayFor(model => model.Title)
				</dd>
            </div>
		</div>
        <div class="row">
            <div class="col-6 text-right">
				<dt>
					@Html.DisplayNameFor(model => model.Slug)
				</dt>
            </div>
            <div class="col-6">
				<dd>
					@Html.DisplayFor(model => model.Slug)
				</dd>
            </div>
		</div>
        <div class="row">
            <div class="col-6 text-right">
				<dt>
					@Html.DisplayNameFor(model => model.Body)
				</dt>
            </div>
            <div class="col-6">
				<dd>
					@Html.DisplayFor(model => model.Body)
				</dd>
            </div>
		</div>
        <div class="row">
            <div class="col-6 text-right">
				<dt>
					@Html.DisplayNameFor(model => model.Abstract)
				</dt>
            </div>
            <div class="col-6">
				<dd>
					@Html.DisplayFor(model => model.Abstract)
				</dd>
            </div>
		</div>
        <div class="row">
            <div class="col-6 text-right">
				<dt>
					@Html.DisplayNameFor(model => model.MediaPath)
				</dt>
            </div>
            <div class="col-6">
				<dd>
					@Html.DisplayFor(model => model.MediaPath)
				</dd>
            </div>
		</div>
        <div class="row">
            <div class="col-6 text-right">
				<dt>
					@Html.DisplayNameFor(model => model.Published)
				</dt>
            </div>
            <div class="col-6">
				<dd>
					@Html.DisplayFor(model => model.Published)
				</dd>
            </div>
		</div>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-row justify-content-center">
            <input type="submit" value="Delete" class="btn btn-primary deletePost" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
