@using Kayla_Blog.Models
@model LoginViewModel
@{
	ViewBag.Title = "Log in";
}

<div class="container loginContainer">
	<div class="row">
		<div class="col-md-12">
			<section id="loginForm" class="blogIndex">
				<div class="card">
					<div class="card-header text-center">
						<h2>Log in to your account</h2>
					</div>
					<div class="card-body">
						
								@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
								{
									@Html.AntiForgeryToken()
									@Html.ValidationSummary(true, "", new { @class = "text-danger" })

									<div class="row">
										<div class="col-6">
											<div class="form-group text-center">
												<div class="col-12">
													<input placeholder="Email" class="form-control loginBox" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" type="text" value="">
													<span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group">
												<div class="col-12">
													<input class="form-control loginBox" placeholder="Password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password">
													<span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-8 offset-5">
											<div class="checkbox">
												@Html.CheckBoxFor(m => m.RememberMe)
												@Html.LabelFor(m => m.RememberMe)
											</div>
										</div>
									</div>
									<div class="form-group text-center">
										<div class="col-md-4 offset-4">
											<input type="submit" value="Log in" class="btn btn-primary btnWide" />
										</div>
									</div>
									<div class="text-center">
										<p>
											@Html.ActionLink("Register as a new user", "Register")
										</p>
									</div>
									@* Enable this once you have account confirmation enabled for password reset functionality
										<p>
											@Html.ActionLink("Forgot your password?", "ForgotPassword")
										</p>*@
								}
						
					</div>
				</div>
			</section>
		</div>
		@*<div class="col-md-4">
				<section id="socialLoginForm">
					@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
				</section>
			</div>*@
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}