@using Kayla_Blog.Models
@model IEnumerable<BlogPost>
<!--================ Start banner Area =================-->
	<section role="banner" class="bannerMargin">
		<a href="/">
			<img class="responsive" src="~/Images/blogbanner.png" />
		</a>
	</section>
<!--================ End banner Area =================-->
<!--================ Start Blog Post Area =================-->
<section class="blog-post-area section-gap relative">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-10 col-md-10">
						@foreach (var post in Model.Take(5))
							{
							<div class="single-amenities">
							<div class="amenities-thumb">
								<img class="img-fluid w-100 blogPicture"
									 src="@post.MediaPath"
									 alt="" />
							</div>
							<div class="amenities-details">
								<h5>
									<a href=@Url.Action("Details", "BlogPosts", new { slug=post.Slug })>
										@post.Title
									</a>
								</h5>
								<div class="amenities-meta mb-10">
									<a href="@Url.Action("Details", "BlogPosts", new { slug=post.Slug })>" class="">
										@post.Created.ToString("MMM dd, yyyy")
									</a>
									<a href="#" class="ml-20"><span class="ti-comment"></span>@post.Comments.Count()</a>
								</div>
								<p>
									@post.Abstract
								</p>

								<div class="d-flex justify-content-between mt-20">
									<div>
										<a href="@Url.Action("Details", "BlogPosts", new { slug=post.Slug })" class="blog-post-btn">
											Read More <span class="ti-arrow-right"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
							}
					</div>
				</div>
				@*<div class="row">
					<div class="col-lg-12">
						<nav class="blog-pagination justify-content-center d-flex">
							<ul class="pagination">
								<li class="page-item">
									<a href="#" class="page-link" aria-label="Previous">
										<span aria-hidden="true">
											<span class="ti-arrow-left"></span>
										</span>
									</a>
								</li>
								<li class="page-item"><a href="#" class="page-link">01</a></li>
								<li class="page-item active"><a href="#" class="page-link">02</a></li>
								<li class="page-item"><a href="#" class="page-link">03</a></li>
								<li class="page-item"><a href="#" class="page-link">04</a></li>
								<li class="page-item"><a href="#" class="page-link">09</a></li>
								<li class="page-item">
									<a href="#" class="page-link" aria-label="Next">
										<span aria-hidden="true">
											<span class="ti-arrow-right"></span>
										</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>*@
			</div>

			<!-- Start Blog Post Sidebar -->
			<div class="col-lg-4 sidebar-widgets">
				<div class="widget-wrap">
					<div class="single-sidebar-widget search-widget">
						@using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))
						{
						<div class="controls controls-row search-row">
							<input id="searchStr" placeholder="Search Posts" class="input-block-level textSearch" name="searchStr" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'">
							<button class="btn btn-primary btnSearch" id="searchStr" name="searchStr" type="submit"><i class="fa fa-search"></i></button>
						</div>
						}
					</div>
					<hr />
					@*<div class="single-sidebar-widget share-widget">
						<h4 class="share-title">Share this post</h4>
						<div class="social-icons mt-20">
							<a href="#">
								<span class="ti-facebook"></span>
							</a>
							<a href="#">
								<span class="ti-twitter"></span>
							</a>
							<a href="#">
								<span class="ti-pinterest"></span>
							</a>
							<a href="#">
								<span class="ti-instagram"></span>
							</a>
						</div>
					</div>*@
				</div>
			</div>
		</div>
		<!-- End Blog Post Siddebar -->
	</div>
	</div>
</section>
<!--================ End Blog Post Area =================-->