@using Kayla_Blog.Models
@model IEnumerable<BlogPost>
<!--================ Start banner Area =================-->
<section role="banner" class="bannerMargin">
	<a href="/">
		<img class="responsive" src="~/Images/blogbanner.png" />
	</a>
</section>
<!--================ End banner Area =================-->
<!--================ Start Blog Post Area =================-->
<section class="blog-post-area section-gap relative">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-10 col-md-10">
						@foreach (var post in Model.Take(5))
						{
							<div class="single-amenities">
								<div class="amenities-thumb">
									<img class="img-fluid w-100 blogPicture"
										 src="@post.MediaPath"
										 alt="" />
								</div>
								<div class="amenities-details">
									<h5>
										<a href=@Url.Action("Details", "BlogPosts", new { slug=post.Slug })>
											@post.Title
										</a>
									</h5>
									<div class="amenities-meta mb-10">
										<a href="@Url.Action("Details", "BlogPosts", new { slug=post.Slug })>" class="">
											@post.Created.ToString("MMM dd, yyyy")
										</a>
										<a href="#" class="ml-20"><span class="ti-comment"></span>@post.Comments.Count()</a>
									</div>
									<p>
										@post.Abstract
									</p>

									<div class="d-flex justify-content-between mt-20">
										<div>
											<a href="@Url.Action("Details", "BlogPosts", new { slug=post.Slug })" class="blog-post-btn">
												Read More <span class="ti-arrow-right"></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>

			<!-- Start Blog Post Sidebar -->
			<div class="col-lg-4 sidebar-widgets">
				<div class="widget-wrap">
					<div class="single-sidebar-widget search-widget">
						@using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))
						{
							<div class="controls controls-row search-row">
								<input id="searchStr" placeholder="Search Posts" class="input-block-level textSearch" name="searchStr" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'">
								<button class="btn btn-primary btnSearch" id="searchStr" name="searchStr" type="submit"><i class="fa fa-search"></i></button>
							</div>
						}
					</div>
					<hr />
					<div class="single-sidebar-widget about-me-widget">
						<h4 class="share-title text-center">About Me</h4>
						<img src="~/Images/kayla.png" class="img-fluid w-100 aboutMePicture" alt="Alternate Text" />
						<h2 class="text-center">Kayla McGraw</h2>
						<hr />
						<h4 class="aboutMe text-center">Hello! I am a full-stack .Net developer currently based in Greensboro, NC.</h4>
						</div>
				</div>
			</div>
		</div>
		<!-- End Blog Post Siddebar -->
	</div>
</section>


<!--================ End Blog Post Area =================-->